.white {
  color: #ffffff;
}

@font-face {
  font-family: "Mona Sans";
  src: url("../assets/fonts/Mona-Sans.woff2") format("woff2 supports variations"), url("../assets/fonts/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
* {
  font-family: "Mona Sans";
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.flex-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.flex-container-100 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flex-container-bottom {
  margin-bottom: -2rem;
}

.container .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.container .hero .hero-text {
  width: 50%;
  padding-top: 2rem;
}
.container .hero .hero-text h1 {
  color: #461483;
}
.container .hero .hero-text h3 {
  color: #5A1BA5;
}
.container .hero .hero-img {
  width: 50%;
  display: flex;
  justify-content: center;
}
.container .hero .hero-img img {
  display: flex;
  align-items: center;
  width: 100%;
}

header {
  font-weight: 400;
  font-size: 0.875rem;
  width: 100%;
  background: #461483;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: -1.9375rem;
  z-index: 2;
}
@media (max-width: 1024px) {
  header {
    top: -2rem;
  }
  header .nav-right {
    width: 100%;
    flex-direction: column;
  }
}
@media (max-width: 556px) {
  header {
    position: relative;
    top: 0px;
  }
}
header .header-top {
  display: flex;
  justify-content: space-between;
  padding: 0.3125rem 0.625rem;
}
header .header-top a {
  color: #ffffff;
  text-decoration: none;
}
header nav {
  width: 100%;
  background-color: #5A1BA5;
  display: flex;
  justify-content: space-around;
}
header .navbar .form-nav {
  display: flex;
}
header .navbar .form-nav input {
  border-radius: 0.625rem 0 0 0.625rem;
  border: none;
  border-right: 2px solid #461483;
  padding-left: 0.3125rem;
}
header .navbar .form-nav input:focus-visible {
  outline: none;
}
header .navbar .form-nav input::placeholder {
  padding-left: 0.5rem;
}
header .navbar .form-nav label {
  border: none;
  border-radius: 0 0.625rem 0.625rem 0;
  background-color: white;
  color: #461483;
  padding: 0 0.9375rem;
}
header .navbar a {
  color: #d7b7ff;
}
header .navbar a:hover {
  color: #ffffff;
}

footer {
  display: flex;
  align-items: center;
  gap: 3rem;
  background-color: #25103F;
  justify-content: space-around;
  margin-top: 2rem;
}
footer .container-footer {
  width: 90%;
}
footer .container-footer .footer-hero {
  display: flex;
  align-items: center;
  padding: 2rem 0rem;
  gap: 2rem;
  justify-content: space-between;
}
@media (max-width: 913px) {
  footer .container-footer .footer-hero {
    flex-direction: column;
  }
}
footer .container-footer .footer-hero .footer-menu ul {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  row-gap: 1rem;
  padding-left: 0;
}
@media (max-width: 768px) {
  footer .container-footer .footer-hero .footer-menu ul {
    justify-content: space-evenly;
  }
}
footer .container-footer .footer-hero li {
  list-style: none;
}
footer .container-footer .footer-hero a {
  color: #B0B0B0;
}

/*# sourceMappingURL=style.css.map */
