.flex-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.flex-container-100 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.flex-container-bottom {
    margin-bottom: -2rem;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .hero-text {
        width: 50%;
        padding-top: 2rem;
    }

    .hero-img {
        width: 50%;
        display: flex;
        justify-content: center;

        img {
            display: flex;
            align-items: center;
            width: 100%;
        }
    }

    .highlight-text {
        width: 100%;
        text-align: center;
        text-shadow: 0.5rem 0.5rem 0.5rem #000000a1;
    }
}

.hero-background {
    height: 42vh;
    @media (max-width: 1024px){
        height: 30vh;
    }
}

.section-servicios {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
    padding: 2rem 0;

    .servicios-title {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}