@font-face {
    font-family: 'Mona Sans';
    src: url('../assets/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
        url('../assets/fonts/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}

*{
    font-family: "Mona Sans";
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}